{% extends 'principal/principal.html.twig' %}

{% block body %}
  <div id="page-wrapper">
    <div class="container-fluid">
    {% for preg in pregunta %}
    <h1 class="page-header">
      {{preg.NombreItem}}
    </h1>
    <h2>
      Indicador {{preg.Descripcion}}
    </h2>
    <h4>
      {{preg.NombrePregunta}}
    </h4>
    {% endfor %}
      <form>
        {% for resp in respuesta %}
          {%- block radio_widget -%}
              <input type="radio" name="respuesta" id="respuesta" value="{{resp.Descripcion}}"> {{resp.Descripcion}}<br>
          {%- endblock radio_widget -%}
        {% endfor %}
      </form>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/jquery.js') }}"></script>
  <script src="{{ asset('js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('js/plugins/morris/raphael.min.js') }}"></script>
  <script src="{{ asset('js/plugins/morris/morris.min.js') }}"></script>
  <script src="{{ asset('js/plugins/morris/morris-data.js') }}"></script>
  <script src="{{ asset('js/plugins/flot/jquery.flot.js') }}"></script>
  <script src="{{ asset('js/plugins/flot/jquery.flot.tooltip.min.js') }}"></script>
  <script src="{{ asset('js/plugins/flot/jquery.flot.resize.js') }}"></script>
  <script src="{{ asset('js/plugins/flot/jquery.flot.pie.js') }}"></script>
  <script src="{{ asset('js/plugins/flot/flot-data.js') }}"></script>
{% endblock %}
